body {
  background-color: #f1f1f1;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  text-align: center;
}

header {
  background-color: white;
  padding: 10px;
}

header li {
  display: inline;
  padding-right: 45px;
}

header li a {
  text-decoration: none;
  color: #000;
  padding: 13px;
  font: caption;
}

header li img {
  width: 150px;
  float: left;
  margin-top: -10px;
}

h1 {
  color: #fff;
  font-size: 300%;
  position: relative;
  top: 120px;
}

.info_container {
  position: relative;
  display: grid;
  grid-template-columns: 2fr 2fr;
  margin: 10px;
}
